{% extends 'index.html' %}
    {% block content %}
    <table>
        <tr>
            <th>ID</th>
            <th>NOM</th>
            <th>COGNOM</th>
            <th>COGNOM 2</th>
            <th>CORREU</th>
            <th>CURS</th>
            <th>TUTOR</th>
            <th>MODULS</th>
        </tr>
        <tr>
            <td>{{ teacher.id }}</td>
            <td>{{ teacher.nom }}</td>
            <td>{{ teacher.cognom1 }}</td>
            <td>{{ teacher.cognom2 }}</td>
            <td>{{ teacher.correu }}</td>
            <td>{{ teacher.curs }}</td>
            <td>{{ professor.tutor }}</td>
            <td>{{ teacher.moduls }}</td>
        </tr>
    </table>
    <a href="{% url 'teachers' %}">Go back </a>
    {% endblock %}
